@model IEnumerable<string>

<div>
    width: <input/>
    height: <input/>
    generations: <input/>
    <button>Start</button>
</div>
@*@foreach (var ok in Model)
{
    <div>@ok</div><div>test1</div>
    <br/>
}*@
<script>
    function run() {

            //$.get("demo_test.asp", function(data, status){
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

        $.post('Home/GetGameOfLife1', { width: 10, height: 10, generations: 10}, 
                function(returnedData){
                    console.log(returnedData);
                });
    }
</script>
